<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>  

        <!-------------------------- 
            JAVASCRIPT AND JQUERY 
        --------------------------->
        {% load static %}
        <script src="{% static 'XaviPortfolioApp/vendor/jquery/jquery-3.6.1.min.js' %}"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'XaviPortfolioApp/vendor/jquery-ui-1.13.2/jquery-ui.min.css' %}">
        {% load static %}
        <script src="{% static 'XaviPortfolioApp/vendor/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>


        {% load static %}
        <link rel="stylesheet" href="{% static 'seq_viewer_app/css/index.css' %}">

        <title>{{title}}</title>
        <link
            rel="icon"
            href="../../static/seq_viewer_app/img/tab_img.png"
            type="image/x-icon"/>
    </head>

    <!-- BODY -->
    <body>
        <!-- HEADER -->
        <header class="row p-0 m-0">
            <p class="m-0 p-4">{{title}}</p>            
        </header>

        <div class="row p-0 m-0 mb-1 text-center">
            <small><p class="m-0 p-2 apps">
                <a class="m-0 p-0 link-primary text-decoration-none" href="{% url 'GeneIF:index' %}">Home</a>
                <a class="m-0 ms-4 p-0 link-primary text-decoration-none" href="{% url 'GeneIF:gene_isoform_finder' %}">Gene Isoform Finder</a>
            </p></small>
        </div>

        {% if field == 'home' %}
            <div class="row m-0 p-0">
                <div class="row m-0 p-0" id="home">
                    {% block home %}
                    {% endblock home %} 
                </div>
            </div>
        {% endif %}

        {% if field == 'gene_isoform_finder' %}
            <div class="row m-0 p-0">
                <div class="row m-0 p-0" id="gene_isoform_finder">
                    {% block gene_isoform_finder %}
                    {% endblock gene_isoform_finder %} 
                </div>
            </div>
        {% endif %}

        <!-- FOOTER -->
        <footer class="footer mt-4">
            <div class="row m-0 p-0">
                <div class="col-6 m-0 p-0 ps-4 text-start align-middle">
                    <small><span class="">Copyright &copy 2025 Xavier Llobet</span></small>
                </div>
                <div class="col-6 m-0 p-0 pe-4 text-end">
                    <small><span class="">Developed by Xavier Llobet</span></small>
                </div>
            </div>
            
            
        </footer>
    </body>
</html>