Django==4.2.20
django-debug-toolbar==4.2.0
django-pandas==0.6.7
django-plotly-dash==2.4.5
dash==2.18.2
dash-bio==1.0.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==6.0.0
